body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/*All Listings*/
/*Navbar*/
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    font-size: 2.5rem;
}

.nav-link {
    font-size: 1.25rem !important;
}

.nav-link:hover {
    color: black;
}

/*Footer*/

.f-info {
    text-align: center;
    height: 8rem;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

.f-info-socials {
    width: 100%;
}

.f-info-socials i {
    font-size: 1.75rem;
    margin: 0.5rem;
}


.f-info-links {
    width: 100%;
}

.f-info-links a {
    text-decoration: none;
    color: black;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
    padding: 1rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 500;
}

/*Card Effect*/
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: whitesmoke;
}

/*Show page*/
.show-img {
    height: 30vh;

}

.btns {
    display: flex;

}




